@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
body{
    background-image:linear-gradient(to top, #C37EDB,#B7A6F6, #FC8DCA);
    background-attachment: fixed;
    font-family: 'Sriracha', cursive;
    display: grid;
    gap: 1rem;
    grid-template-areas:
     "header header header"
     "aside main aside"
     ;
     grid-template-columns: auto auto auto;
     grid-template-rows: auto 100vh auto;
     
}  

h1{
    font-family: 'Aboreto', cursive;
    font-size: 30px;
    font-style: italic;
    background-color:#88a3e271;
    width: 560px;
}


.o-header {grid-area: header;}

.o-aside {grid-area: aside;}

.o-main{grid-area: main;}

.o-footer{grid-area: footer;}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
    background-color: #AAECFC;
    width: 400px;
}

p{ font-family: 'Sriracha', cursive; 
}

img{border-width: 20px;
    padding: auto;
   
}

.o-header, .o-aside, .o-main, .o-footer {
    background: #BC20E2;
    color: #FDFDFD;
  }


 