@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
    background-image:linear-gradient(to top, #C37EDB,#B7A6F6, #FC8DCA);
    background-attachment: fixed;
    display: grid;
    font-family: Arial, sans-serif;
    gap: 1rem;
    grid-template-areas: 
        "header header header"
        "aside main main"
        "footer footer footer";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 240vh auto;
}

.o-header, .o-aside, .o-main, .o-footer {
    background: #BC20E2;
    color: #FDFDFD;
}

.o-header {
    grid-area: header;
    padding: 2rem;
}
.o-aside {
    grid-area: aside;
}
.o-main {
    grid-area: main;
}
.o-footer {
    grid-area: footer;
    padding: 1rem;
}

h1{
    font-family: 'Aboreto', cursive;
    font-size: 30px;
    font-style: italic;
   
    width: 560px;
}

footer{ text-align: center;
font-style: italic;}